/**
  * @name Dark Discord
  * @description Just a simple dark discord theme.

  * @author SolFi#0001
  * @version 1.0.0
  * @website https://github.com/SkyeX9/Dark-Discord
 */

 /* 
 Quick explanation:
    0. Press CRTL-F and search up "accent-color:"

    1. Find the colour you desire in HSL        [example: hsl(217, 12%, 15%) for a navy blue]

    2. Replace the variables from .theme-dark variables list
        -the first value of hsl() is hue[h]     [ --hue: 0; --> --hue: 217;                 ]
        -second value [s] is saturation         [ --saturation: 0%; --> --saturation: 12%   ]
        -third value [l] is lightness           [ --lightness: 0%; --> --lightness: 15%     ]

    Changing the above values will NOT CHANGE ANYTHING
    Change the values below >> NOT the ones contained within /*...*/

 .theme-dark, .theme-light {
    --deprecated-store-bg: hsla(var(--hue),var(--saturation), var(--lightness), var(--alpha));

    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --background-accent: transparent;

    --scrollbar-auto-thumb: hsla(var(--hue), calc(var(--saturation) + 2%), calc(var(--lightness) - 2%), calc(var(--alpha)));
    --scrollbar-auto-track: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + calc(var(--multiplier) * var(--saturation-addition))), calc(var(--lightness) + calc(1.65 * var(--multiplier) * var(--lightness-addition))), calc(var(--track-alpha)));
    --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
    --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-thumb);
    --scrollbar-thin-thumb: var(--scrollbar-auto-thumb);
    --activity-card-background: #202225;
    --deprecated-quickswitcher-input-background: #2e2e2e;

}
/* Transparency / Titlebar*/
#app-mount {
    position: relative;
}
#app-mount::after,
#app-mount::before,
body::after {
    position: absolute;
    content: '';
    left: 0; right:0;
    top: 0; bottom: 0;
    pointer-events: none;
}
body::after {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), var(--titlebar-alpha));
    height: 22px;
    z-index: 1;
}
#app-mount::after {z-index: -2;}
#app-mount::before {
    z-index: -1;
    backdrop-filter: blur(var(--blur));
}

/* ///////
    Chat
/////// */
.chat-3bRxxu {
    background-color: hsla(var(--hue),var(--saturation), var(--lightness), calc(var(--alpha) + var(--alpha-addition)));
}
.markup-2BOw-j code.inline,
.markup-2BOw-j pre code {
    background: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), calc(var(--alpha)));
}
.akaBadge-1M-1Gw {
    background: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), calc(var(--alpha)));
}
.attachment-33OFj0,
#app-mount .wrapperAudio-1jDe0Q,
.embedFull-2tM8-- {
    background: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + 9%), calc(var(--lightness) + var(--lightness-addition)), calc(var(--alpha)));
}
.wrapper-35wsBm {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + 10%), calc(var(--lightness) + var(--lightness-addition)), var(--alpha));
}
/* Jump to / New Messages*/
.newMessagesBar-265mhP {
    background-color: var(--blurple);
}
.jumpToPresentBar-G1R9s6 {
    background-color: #333435;
}
/* Dividers */
.content-1o0f9g {
    background-color: hsla(var(--hue), var(--saturation), var(--lightness), var(--divider-alpha));
}
/* Mentions / Reactions / Is Mention*/
.reaction-1hd86g.reactionMe-wv5HKu,
.wrapper-3WhCwL, 
.mention {
    color: var(--blurple);
    position: relative;
    background-color: transparent !important;
}
.wrapper-3WhCwL::after, 
.mention::after,
.reaction-1hd86g.reactionMe-wv5HKu::after {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    content: '';
    background-color: currentColor;
    opacity: var(--mention-channel-background, 0.15);
    border-radius: 3px;
    z-index: -1;
}
.wrapper-3WhCwL:hover, 
.mention:hover {
    color: #eee
}
.wrapper-3WhCwL:hover::after, .mention:hover::after {
    opacity: 1;
    background-color: var(--blurple);
}
#app-mount .reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV{
    color: var(--blurple);
}
.mentioned-xhSam7 {
    position: relative;
    background-color: transparent;
}
.mentioned-xhSam7::after {
    content: '';
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    opacity: var(--is-mention-alpha);
    background-color: var(--is-mention-bg);
    pointer-events: none;
}
.mentioned-xhSam7::before {
    background-color: var(--is-mention);
}
.mentioned-xhSam7 .wrapper-3WhCwL::after {
    background-color: transparent;
}

#app-mount .scroller-1-nKid {
        background-color: hsla(var(--hue),var(--saturation), var(--lightness), var(--alpha));
}
#app-mount .reactors-Blmlhw {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), var(--alpha));
}
/* Context and other popouts */
.wrapper-2aW0bm {
    background-color: var(--background-floating);
}
.menu-3sdvDG {
    background: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + calc(var(--multiplier) * var(--saturation-addition))), calc(var(--lightness) + var(--lightness-addition)), calc(var(--alpha) + var(--alpha-addition)));
}

.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: var(--blurple)
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), calc(var(--alpha)));
}
        /*Emoji*/
#emoji-picker-tab-panel,
.drawerSizingWrapper-17Mss4 {
        background-color: hsla(var(--hue),var(--saturation), var(--lightness), calc(var(--alpha) + var(--alpha-addition)));
}
        /*Auto Complete*/
#app-mount .autocomplete-1vrmpx {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), calc(var(--alpha) + var(--alpha-addition))); 
}
#app-mount .selected-1Tbx07 {
    background-color: hsla(0, 0%, 45%, 0.164);
}
    /* User Popout */
#app-mount .body-3iLsc4, 
#app-mount .footer-1fjuF6 {
    background-color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + var(--lightness-addition)), calc(var(--alpha) + var(--alpha-addition)));
}
.topSectionPlaying-1J5E4n,
#app-mount .headerNormal-T_seeN {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + calc(1.05 * var(--saturation-addition))), calc(var(--lightness) + var(--lightness-addition)), calc(var(--alpha) + var(--alpha-addition)));
}
.headerPlaying-j0WQBV {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + calc(var(--multiplier) * var(--saturation-addition))), calc(var(--lightness) + calc(2.1 * var(--lightness-addition))), var(--alpha));
}
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus,
.lookFilled-1h1y05.select-1Pkeg4:hover.selectOpen-hQuR6b, .lookFilled-1h1y05.selectOpen-hQuR6b {
    border-color: var(--blurple);
}

.textarea-2r0oV8:focus {
    background-color: hsla(var(--hue),var(--saturation), var(--lightness), var(--alpha));
}
    /* Message popout / Inbox*/
.messagesPopoutWrap-1MQ1bW, .container-enaOkj {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), var(--lightness), calc(var(--floating-alpha)));
}
.messagesPopout-24nkyi {
    padding-left: 0;
}
.messageGroupWrapper-o-Zw7G .messageGroupCozy-2iY6cT {
    margin-left: -8px;
    padding-left: 64px;
}
/*Quick Switcher*/
.quickswitcher-3JagVE {
        background-color: hsla(var(--hue),var(--saturation), var(--lightness), var(--alpha));
}
.quickswitcher-3JagVE input {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), var(--alpha));
}
    /* Search */
#app-mount .searchAnswer-3Dz2-q, 
#app-mount .searchFilter-2ESiM3 {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), var(--alpha));
}
.searchBar-3dMhjb {
    background-color: rgba(0, 0, 0, 0.25);
}
        /* Calender */
#app-mount .container-3ayLPN {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), var(--alpha));
}
#app-mount .container-3ayLPN div::after {background-image: none}
#app-mount .option-96V44q.selected-rZcOL- {
    background-color: hsla(0, 0%, 61%, 0.1);
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker,
#app-mount .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: transparent
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day--outside-month,
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, 
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: hsla(0, 0%, 16%, 0.4);
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, 
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    background-color: var(--blurple);
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: var(--blurple);
}
#app-mount .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: var(--blurple)
}
    /* Modals */
#app-mount .keyboardShortcutsModal-3piNz7,
#app-mount .root-1gCeng,
#app-mount .message-2qRu38,
#app-mount .modal-yWgWj- {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + 9%), calc(var(--alpha)));
}
#app-mount .footer-2gL1pp {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), var(--lightness), calc(var(--alpha)));
}
/* >> Video Bar*/

.progressBar-3u8FBM,
.mediaBarWrapper-3D7r67
.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before {
    background-color: var(--blurple) !important
}

/* 

///////Channel Sidebar///////

 */
.sidebar-2K8pFh {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), calc(var(--alpha) + var(--alpha-addition)));
}
.platform-win .sidebar-2K8pFh {
    border-radius: 0;
}
.unread-1xRYoj {
    background-color: #333333
}
.wrapper-1ucjTd:hover .content-3at_AU {
    background-color: hsla(0, 0%, 58%, 0.25);
}
.selected-WP3kCM .header-2o-2hj {
    background-color: #b7b7b70d;
}
/* Channels Selected*/
.wrapper-1ucjTd:hover .content-3at_AU,
.modeSelected-1zApJ_ .content-3at_AU, 
.modeSelected-1zApJ_:hover .content-3at_AU,
.selected-aXhQR6 .layout-2DM8Md {
    background: var(--channel-selected);
}

.wrapper-1ucjTd:hover .content-3at_AU {
    opacity: 0.85;
}
/* */
.item-2hkk8m,
.unread-3zKkbm {
    background-color: var(--unread);
}
.bd-selected .item-2hkk8m {
    background-color: var(--guild-selected);
}
/* 

////////Guilds / Server List/////////

 */
 .iconBadge-2wi9r4,
.wrapper-1Rf91z {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), var(--lightness), calc(var(--alpha) + var(--alpha-addition)));
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, 
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: var(--server-blurple)
}
.panels-j1Uci_ {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + calc(0.8 * var(--saturation-addition))), calc(var(--lightness) - calc(var(--lightness-addition) / 10)), var(--alpha));
}
/* 

//////Members List///////

 */

#app-mount .members-1998pB {
        background-color: hsla(var(--hue), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) - var(--member-list-addition)), calc(var(--alpha) + var(--alpha-addition)));
}
.botTagRegular-2HEhHi, 
.botTagInvert-18-95s {
    background-color: var(--blurple);
    color: var(--text-normal)
}
/*

///////Friends tab////////

*/
#app-mount .container-1D34oG {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), var(--saturation), var(--lightness), calc(var(--alpha) + var(--alpha-addition)));
}
.wrapper-3D2qGf {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), var(--alpha));
}
#app-mount .inset-3sAvek {
    background-color: hsla(var(--hue), var(--saturation), calc(var(--lightness) + var(--lightness-addition)), 0.25);
}
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    background-color: var(--friend-selected);
    opacity: .95;
}
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover {
    background-color: var(--friend-selected);
    opacity: 1;
}
/*

 /////////Settings/////////
  
*/

.contentRegion-3nDuYy {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + calc(var(--multiplier) * var(--saturation-addition))), calc(var(--lightness) + var(--lightness-addition)), calc(var(--alpha) + var(--alpha-addition)));
}
.sidebarRegion-VFTUkN {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + calc( 1.25 * var(--lightness-addition))), calc(var(--alpha) + var(--alpha-addition)));
}
.header-2RyJ0Y, 
#app-mount #bd-settings-sidebar .ui-tab-bar-header {
    color: #dadada;
}

.verifyConnectedAccount-3WFmtE,
#oauth2-authorize,
#oauth2-message {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), calc(var(--alpha)));
}
.barFill-23-gu- {
    background-color: var(--blurple);
}
    /*Stream*/
.selectorButtonSelected-t5V9On {
    background-color: var(--blurple);
}
/* Keybinds */

.css-3vaxre-menu {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), var(--alpha));
}
#app-mount .card-FDVird:before {
    background-color: rgba(0, 0, 0, 0.05);
}
/* Overlay */
.selected-mKYnfr.option-n0icdO {
    background-color: var(--blurple);
}
.wrapper-3jrx9n {
    border-color: var(--blurple);
}
/* Item Selected Containers / Checkboxes*/
#app-mount .item-26Dhrx[style*="background-color"] {
    background-color: var(--blurple) !important;
    border-color: var(--blurple) !important;
}
#app-mount .checkbox-1ix_J3[style*="border-color"] {
    border-color: var(--blurple) !important;
}
#app-mount .item-26Dhrx svg path:not([fill="transparent"]) {
    fill: var(--blurple);
}
.themeDefault-24hCdX.valueChecked-m-4IJZ {
    background-color: var(--blurple);
}
/**/
.topSectionNormal-2-vo2m {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), var(--alpha));
}
.body-3ND3kc {
    background-color: hsla(calc(var(--hue) - 2), var(--saturation), var(--lightness), var(--alpha));
}
    /* Nitro Settings */
#app-mount .perksModal-fSYqOq,
#app-mount .paginator-166-09 {
        background-color: hsla(var(--hue),var(--saturation), var(--lightness), var(--alpha));
}
#app-mount .payment-xT17Mq {
    background-color: transparent;
    border-bottom-color: hsla(calc(var(--hue) + var(--hue-addition)), var(--saturation), calc(var(--lightness) + calc(var(--multiplier) * var(--lightness-addition))), var(--alpha));
}
#app-mount .payment-xT17Mq:hover {
    background-color: hsla(0, 0%, 42%, 0.16);
}
#app-mount .codeRedemptionRedirect-1wVR4b,
#app-mount .paymentPane-3bwJ6A {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), var(--alpha));
}
#app-mount .expandedInfo-3kfShd {
        background-color: hsla(var(--hue),var(--saturation), var(--lightness), var(--alpha));
}
.popout-2sKjHu {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), var(--alpha));
}
    /* general option buttons */
.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color: var(--blurple);
    opacity: 0.85;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    opacity: 1;
    background-color: var(--blurple);
}
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    background-color: var(--settings-selected);
}
.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover {
    background-color: var(--settings-selected);
    opacity: 0.85;
}
/* >Game */
#app-mount .addGamePopout-2RY8Ju {
     background-color: hsla(var(--hue),var(--saturation), var(--lightness), var(--alpha));
}
#app-mount .notDetected-33MY4s, .theme-light .notDetected-33MY4s,
#app-mount .button-2CgfFz, #app-mount .button-2CgfFz:hover,
#app-mount .gameNameInput-385LoS:focus, #app-mount .gameNameInput-385LoS:hover {
    background-color: rgba(3, 3, 3, 0.25);
}

/* Audit */
#app-mount .popoutList-T9CKZQ {
    background-color: hsla(var(--hue),var(--saturation), var(--lightness), var(--alpha));
}
#app-mount .selectableItem-1MP3MQ[style*="background"] {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), var(--alpha));
}
#app-mount .auditLog-3jNbM6 {
    border-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), var(--lightness), calc(var(--alpha)));
}
/*Server Discovery / Server Join-Create*/
#app-mount .pageWrapper-1PgVDX {
        background-color: hsla(var(--hue),var(--saturation), var(--lightness), var(--alpha));
}
#app-mount .card-3DjzTQ, 
#app-mount .iconMask-3b8GzQ {
        background-color: hsla(var(--hue), calc(var(--saturation) + 2%), calc(var(--lightness) + 5%), var(--floating-alpha));
}
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG,
#app-mount .activeButton-rvKcqq {
    background-color: var(--blurple)
}
#app-mount .container-UC8Ug1 {
        background-color: hsla(var(--hue),var(--saturation), var(--lightness), var(--alpha));
}
/*fix for their light mode server modal*/
.container-1CE3eW {
    --header-primary: #eee;
    --header-secondary: #cccccc;
    --text-normal: #adadad;
}
/*Upload Modal*/
#app-mount .uploadModal-2ifh8j {
        background-color: hsla(var(--hue),var(--saturation), var(--lightness), 1);
}
#app-mount .footer-3mqk7D {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), var(--alpha));
}
/* server settings autocomplete*/
#app-mount .autocompleteArrow-Zxoy9H, 
#app-mount .header-2bNvm4,
.row-rrHHJU.selected-1pIgLL .rowInner-1vvRiF {
        background-color: hsla(var(--hue),var(--saturation), var(--lightness), var(--alpha));
}
#app-mount .container-VSDcQc .sectionTag-pXyto9 {
    background-color: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), var(--alpha));
}
/* tooltips */
#app-mount .tooltipBlack-PPG47z {
    background-color: var(--tooltip-background);
}
#app-mount .tooltipBlack-PPG47z .tooltipPointer-3ZfirK {
    border-top-color: var(--tooltip-background);
}
.tooltipPointer-1awMxk {
    border-right-color: var(--tooltip-background)
}
#app-mount .tooltipContent-bqVLWK {
    color: var(--tooltip-text)
}
    /*Misc*/
.modal-3c3bKg {
    --background-modifier-selected: hsla(var(--hue), 40%, 32%, 0.25);
}
.operations-36ENbA>a {
    color: var(--blurple);
}
    /* */
.wanderingCubesItem-WPXqao {
    background-color: var(--blurple);
}

  /* EXTRAS */

  /* Server Settings Menu */
.layer-v9HyYc[style*="left: 82px;"][style*="top:"] {
    width: 240px;
    left: 72px !important;
    top: 70.5px !important;
}
.layer-v9HyYc[style*="left: 82px;"][style*="top:"] .menu-3sdvDG {
     padding: 0;
     margin: 0;
     width: 100%;
     border-radius: 0;
}
.layer-v9HyYc[style*="left: 82px;"][style*="top:"] .menu-3sdvDG .item-1tOPte {
    padding: 5px 8px;
    margin: 0 auto;
    border-radius: 0;
}
.layer-v9HyYc[style*="left: 82px;"][style*="top:"] .item-1tOPte .label-22pbtT {
    order: 1;
    padding-left: 0.52rem;
    font-weight: 200;
    position: relative;
    --server-settings-before: '-';
}
.layer-v9HyYc[style*="left: 82px;"][style*="top:"] .label-22pbtT::before {
    content: var(--server-settings-before);
    position: absolute;
    left: 0;
    color: currentColor;
}
.layer-v9HyYc[style*="left: 82px;"][style*="top:"] .item-1tOPte:not(.colorBrand-ROmMP1):not(.colorDanger-2qLCe1) .label-22pbtT {
    color: #fff;
}
.layer-v9HyYc[style*="left: 82px;"][style*="top:"] .iconContainer-2-XQPY {
    padding: 0;
    margin: 0
}
.layer-v9HyYc[style*="left: 82px;"][style*="top:"] .separator-2I32lJ {
    display: none;
}
.layer-v9HyYc[style*="left: 82px;"][style*="top:"] .menu-3sdvDG .item-1tOPte.colorDanger-2qLCe1:hover{
    background-color: #9818182e;
}
/* Context Menu */
.scroller-3BxosC {padding: 0}
.scroller-3BxosC .item-1tOPte {border-radius: 0}
.scroller-3BxosC .item-1tOPte + .item-1tOPte {margin-top: 3px;}

/* Squared Embeds Corners*/
.embed-IeVjo6 {border-radius: 0;}

/* Removes SVG on slider options and squares them*/
.slider-TkfMQL svg path {
    fill: none;
}
.bd-switch,
.container-3auIfb {
    --slider-radius: 2px;
    --slider-rect: 0; /*10*/
    border-radius: var(--slider-radius);
}
.bd-switch::after {
    border-radius: var(--slider-radius)
}

/* Old Mention Badges*/
.listItem-2P_4kh rect {fill: none !important;}
.numberBadge-2s8kKX {
    display: inline-block;
    border-radius: 3px; background-clip: padding-box;
    background-color: #f04747; -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.25), inset 0 1px 0 hsla(0,0%,100%,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.25), inset 0 1px 0 hsla(0,0%,100%,.15);
    color: #fff; font-size: 12px;
    line-height: 12px; font-weight: 500;
    padding: 2px 3px !important; text-shadow: 0 1px 0 rgba(0,0,0,.25);
    text-transform: uppercase; align-items: center;
}
/* Blur Emails */
.userInfoViewing-3djV5v div:not([class]) .viewBody-1l56Sd, 
.paymentSourceRow-3FbcL_ .subText-V8PTt8 {
    filter: blur(12px)
}
.userInfoViewing-3djV5v div:not([class]) .viewBody-1l56Sd:hover, 
.paymentSourceRow-3FbcL_ .subText-V8PTt8:hover {
    filter: blur(0px);
    transition: 350ms ease-in;
    animation-delay: 4s;
}

.theme-dark {
    /*      Test Variables to mess around for different colours                */
        --test: hsla(217, 12%, 15%, 0.99) ; /* hsla(217, 33%, 18%, 0.99); */
        --example-black: hsla(0, 0%, 0%, 0.99);
    
    /*  HSL values      - change these values for different background color                                  */
        --hue: 217 ;                /* Value between [0,360] */
        --saturation: 0% ;         /* shade of grey(0%) to full color(100%) | Value is in (%) */
        --lightness: 15% ;          /* 0% is black \ 100% is white | Value is in (%) >>>>Note advised to NOT use high ligtness<<<*/
        --alpha: 1 ;                /* 1 is for solid color | follow the readme to understand alpha for transparency */
    
    /*  Change these values to 0%(not --hue-addition) if you want the one colour throughout Discord*/
        --hue-addition: 0 ;          
        --saturation-addition: -1% ;  
        --lightness-addition: -5% ; 
        --alpha-addition: 0.255 ;       /* Additional alpha for main parts of Discord if making a semi transparent Discord from this theme */
    
    /*  Accent Colors / Tooltips / Mentions                                                                        */
    
        --accent-color: hsl(266, 100%, 50%);
        --tooltip-background: var(--accent-color); /* Discord Default: #000 | Theme Default: var(--accent-color)*/
        --tooltip-text: #dcddde;              /* Discord Default: #dcddde*/
        --blurple: var(--accent-color);         /* Discord Default: #7289DA | Theme Default var(--accent-color) */
        --mention-channel-background: 0.2;      /* Channel/Other User Mentions Opacity/Alpha*/
        --is-mention: var(--accent-color);      /* Discord Default hsl(38, 96%, 54%); */
        --is-mention-bg:var(--accent-color);    /* Discord Default hsl(38, 96%, 54%) */
        --is-mention-alpha:0.15;                /* Discord Default 0.05 */

        --unread: var(--accent-color) ; /* Discord Default: #fff */
        --guild-selected: var(--accent-color); /* Discord Default: #fff | Only changed for users of BD*/

        /* Channel / DM - Selected channel*/
        --channel-selected: linear-gradient(6deg, var(--channel-gradient-prim),  var(--channel-gradient-sec),  var(--channel-gradient-tri)) /* <-- delete this and replace 
        with var(--background-modifier-selected) for default discord*/;
            --channel-gradient-prim:#0096bfcc;
            --channel-gradient-sec:#39a4da;
            --channel-gradient-tri: var(--accent-color);
    /* Misc Values - do NOT CHANGE (unless you know what they do)*/
        --multiplier: (1.25);
        --track-alpha: 0.45;
        --floating-alpha: 1;
    
        --channeltextarea-background: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + 6%), calc(var(--lightness) + calc(var(--multiplier) * var(--lightness-addition))), calc(var(--alpha)));
        --server-blurple: var(--blurple);        /*Background color of the Home Icon*/
        --settings-selected:var(--accent-color); /*Discord Default: --background-modifier-selected | Theme Default: --accent-color*/
        --friend-selected:var(--background-modifier-selected);
        --member-list-addition: 3.5%;
        --background-floating: hsla(calc(var(--hue) + var(--hue-addition)), calc(var(--saturation) + var(--saturation-addition)), calc(var(--lightness) + var(--lightness-addition)), calc(var(--floating-alpha)));
        --divider-alpha: 0.8;
        /* Only Affects transparency option*/
        --titlebar-alpha: 1; /* Top Title Bar */
        --blur: 0px; /* 0px for no blur | Blur on image not desktop */

        --text-muted: #72767d; /* Discord Default: #72767d | #c0c0c0*/
        --text-normal: #dcddde; /* Discord Default: #dcddde */
}
#app-mount::after {
    /* Change the below url to a direct image link(right click image on browser > copy image address) [insert your link between '()' in 'url()' ]*/
    background: url() center/cover;
}
